//Colors
$primary: #3a9acd !default;
$success: #33ca62 !default;
$error: #e83b35 !default;

$states: (
  ('primary', $primary, white, transparent, darken($primary, 8%), darken($primary, 6%), darken($primary, 4%)),
  ('success', $success, white, transparent, darken($success, 8%), darken($success, 6%), darken($success, 4%)),
  ('error', $error, white, transparent, darken($error, 8%), darken($error, 6%), darken($error, 4%))
);

@function GetVariable($key) {
  @return var(--vue-elder-#{$key});
}

@mixin GenerateVariable($key, $value) {
  --vue-elder-#{$key}: #{$value};
}

@mixin GenerateVariables {
  @include GenerateVariable('border-radius', 3px);
  @include GenerateVariable('border-color', #eaeaea);
  @include GenerateVariable('text-color', #222);
  @include GenerateVariable('input-color', #f2f2f2);
  @include GenerateVariable('input-prefix-color', rgba(black, 0.3));

  @each $state in $states {
    @include GenerateVariable(nth($state, 1), nth($state, 2));
  }
}
